{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
<title> Generate plans </title>
{% endblock %}
{% block content %}
<h1> Generate all plans </h1>
<script>
    function doWhenImprovement() {
        document.getElementById("improvement-parameter").style.display = "block";
        modifyVisibilityForGeneticFields("none");
        modifyVisibilityForNeuralFields("none");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function doWhenOthers() {
        document.getElementById("improvement-parameter").style.display = "none";
        modifyVisibilityForGeneticFields("none");
        modifyVisibilityForNeuralFields("none");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function doWhenGenetic() {
        document.getElementById("improvement-parameter").style.display = "none";
        modifyVisibilityForGeneticFields("block");
        modifyVisibilityForNeuralFields("none");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function doWhenNeuralNetwork() {
        document.getElementById("improvement-parameter").style.display = "none";
        modifyVisibilityForGeneticFields("none");
        modifyVisibilityForNeuralFields("block");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function modifyVisibilityForGeneticFields(option) {
        document.getElementById("genetic-parameters").style.display = option;
    }

    function modifyVisibilityForNeuralFields(option) {
        document.getElementById("nn-parameter").style.display = option;
    }
</script>
<style>
.hidden {
    display: none;
} 
</style>
<form action="{% url 'entities:make_generate' %}" method="post">
    <div>
      <p class="alert-success"> {{ s_message }} </p>
    </div>
    <div>
      <p class="alert-danger"> {{ fail_message }} </p>
    </div>
    {% csrf_token %}
    <div class="table-responsive">
        <div class="table-row">
            <div class="table-col"> First hour:  </div>
            <div class="table-col"><input class="form-control" type="number" name="first_hour" min="1" max="22" value="8" placeholder="cannot be empty"/></div>
        </div>
        <div class="table-row">
            <div class="table-col"> Last hour: </div>
            <div class="table-col"><input class="form-control" type="number" name="last_hour" min="1" max="23" value="19" placeholder="cannot be empty"/></div>
        </div>
        <div class="table-row">
            <div class="table-col"> Semester: </div>
            <div class="table-col">
                <select class="btn background-second form-select" placeholder="choose semester" name="semester_type">
                    <option value="1" selected="selected"> Winter </option>
                    <option value="2"> Summer </option>
                </select>
            </div>
        </div>
        <div class="table-row">
            <div class="table-col"> How many groups for semester: </div>
            <div class="table-col"><input class="form-control" type="number" name="how_many_groups" min="1" value="3"/></div>
        </div>
        <div class="table-row">
            <div class="table-col"> Do you want to delete a plans?  </div>
            <div class="table-col"><input class="form-control-sm" type="checkbox" name="if_delete" checked="true"/></div>
        </div>
        <div class="table-row">
            <div class="table-col"><br> </div>
        </div>
        <div class="table-row">
            <div class="table-col"><p class="text-xl-left font-weight-bold"> Choose one of the below algorithms: </p></div>
        </div>
        <div class="table-row">
            <div class="table-col"> <input type="radio" id="random" name="algorithm" value="algorithm-random" onclick="doWhenOthers(this)" /> <label for="random"> generate random </label></div>
        </div>
        <div class="table-row">
            <div class="table-col"> <input type="radio" id="improvement" name="algorithm" value="algorithm-with-improvement" onclick="doWhenImprovement(this)"/> <label for="improvement"> generate with improvement</label> </div>
        </div>
        <div class="table-row hidden" id="improvement-parameter">
            <div class="table-col"> How many tries: </div>
            <div class="table-col"><input class="form-control" type="number" name="number_of_generation" min="1" max="20000" value="1000" placeholder=""/></div>
        </div>
        <div class="table-row">
            <div class="table-col"> <input type="radio" id="genetic" name="algorithm" value="algorithm-genetic" onclick="doWhenGenetic(this)"/> <label for="genetic"> genetic algorithm </label> </div>
        </div>
        <div class="hidden" id="genetic-parameters">
            <div class="table-row" id="genetic-parameter1">
                <div class="table-col"> How many generations: </div>
                <div class="table-col"><input class="form-control" type="number" name="number_of_generation" min="1" max="20000" value="20" placeholder=""/></div>
            </div>
            <div class="table-row" id="genetic-parameter2">
                <div class="table-col"> Chance of crossover: </div>
                <div class="table-col"><input class="form-control" type="number" name="number_of_crossover" min="0.01" max="1" value="0.5" step="0.01" placeholder=""/></div>
            </div>
            <div class="table-row" id="genetic-parameter3">
                <div class="table-col"> Chance of mutation: </div>
                <div class="table-col"><input class="form-control" type="number" name="number_of_mutation" min="0.01" max="1" value="0.1" step="0.01" placeholder=""/></div>
            </div>
        </div>
        <div class="table-row">
            <div class="table-col"> <input type="radio" id="neural" name="algorithm" value="algorithm-nn" onclick="doWhenNeuralNetwork(this)"/> <label for="neural"> neural networks </label> </div>
        </div>
        <div class="table-row hidden" id="nn-parameter">
            <div class="table-col">
                <select class="btn background-second form-select" placeholder="choose method" name="neural_network_type">
                    <option value="1" selected="selected"> One input </option>
                    <option value="2"> Three input with concatenation </option>
                    <option value="3"> Three input with LSTM </option>
                </select>
            </div>
        </div>
        <div class="table-row">
            <div class="table-col"> <input type="radio" id="graph" name="algorithm" value="algorithm-graph" onclick="doWhenOthers(this)"/> <label for="graph"> graph algorithm </label> </div>
        </div>
        <div class="table-row">
             <div class="table-col"><button id="generatePlanButton" class="btn background-second" type="submit" name="action" value="generate" disabled="true"> Generate </button></div>
        </div>
    </div>
</form>
<br/>
<h1> New semester</h1>
<form action="{% url 'entities:new_semester' %}" method="post">
    {% csrf_token %}
    <div>
        <p><button class="btn background-second" type="submit" name="action" value="add_new_semestr"> Start new semester </button></p>
    </div>
</form>
{% endblock %}