{% extends 'base_layout.html' %}
{% load static %}
{% block title %}
<title> Generate plans </title>
{% endblock %}
{% block content %}
<h1> Generate all plans </h1>
<script>
    function doWhenImprovement() {
        document.getElementById("improvement-parameter").style.display = "block";
        modifyVisibilityForGeneticFields("none");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function doWhenOthers() {
        document.getElementById("improvement-parameter").style.display = "none";
        modifyVisibilityForGeneticFields("none");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function doWhenGenetic() {
        document.getElementById("improvement-parameter").style.display = "none";
        modifyVisibilityForGeneticFields("block");
        document.getElementById("generatePlanButton").disabled = false;
    }

    function modifyVisibilityForGeneticFields(option) {
        document.getElementById("genetic-parameter1").style.display = option;
        document.getElementById("genetic-parameter2").style.display = option;
        document.getElementById("genetic-parameter3").style.display = option;
    }
</script>
<style>
.hidden {
    display: none;
} 
</style>
<form action="{% url 'entities:make_generate' %}" method="post">
    <div>
      <p class="alert-success"> {{ s_message }} </p>
    </div>
    <div>
      <p class="alert-danger"> {{ fail_message }} </p>
    </div>
    {% csrf_token %}
    <div class="table-responsive">
            <table>
            <tr>
                <td> First hour:  </td>
                <td><input class="form-control" type="number" name="first_hour" min="1" max="22" value="8" placeholder="cannot be empty"/></td>
            </tr>
            <tr>
                <td> Last hour: </td>
                <td><input class="form-control" type="number" name="last_hour" min="1" max="23" value="19" placeholder="cannot be empty"/></td>
            </tr>
            <tr>
                <td> Semester: </td>
                <td>
                    <select class="btn background-second" placeholder="choose semester" name="semester_type">
                        <option value="1" selected="selected"> Winter </option>
                        <option value="2"> Summer </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> How many groups for semester: </td>
                <td><input class="form-control" type="number" name="how_many_groups" min="1" value="3"/></td>
            </tr>
            <tr>
                <td> Do you want to delete a plans?  </td>
                <td><input class="form-control-sm" type="checkbox" name="if_delete"/></td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td><p class="text-xl-left font-weight-bold"> Choose one of the below algorithms: </p><td>
            </tr>
            <tr>
                <td> <input type="radio" id="random" name="algorithm" value="algorithm-random" onclick="doWhenOthers(this)" /> <label for="random"> generate random </label></td>
            </tr>
            <tr>
                <td> <input type="radio" id="improvement" name="algorithm" value="algorithm-with-improvement" onclick="doWhenImprovement(this)"/> <label for="improvement"> generate with improvement</label> </td>
            </tr>
            <tr>
                <td> <input type="radio" id="genetic" name="algorithm" value="algorithm-genetic" onclick="doWhenGenetic(this)"/> <label for="genetic"> genetic algorithm </label> </td>
            </tr>
            <tr>
                <td> <input type="radio" id="neural" name="algorithm" value="algorithm-nn" onclick="doWhenOthers(this)"/> <label for="neural"> neural networks </label> </td>
            </tr>
            <tr>
                <td> <input type="radio" id="graph" name="algorithm" value="algorithm-graph" onclick="doWhenOthers(this)"/> <label for="graph"> graph algorithm </label> </td>
            </tr>
            <!-- parameters -->
            <tr class="hidden" id="improvement-parameter">
                <td> How many tries: </td>
                <td><input class="form-control" type="number" name="number_of_generation" min="1" max="20000" value="100" placeholder=""/></td>
            </tr>
            <tr class="hidden" id="genetic-parameter1">
                <td> How many generations: </td>
                <td><input class="form-control" type="number" name="number_of_generation" min="1" max="20000" value="100" placeholder=""/></td>
            </tr>
            <tr class="hidden" id="genetic-parameter2">
                <td> Chance of crossover: </td>
                <td><input class="form-control" type="number" name="number_of_crossover" min="0.01" max="1" value="0.5" step="0.01" placeholder=""/></td>
            </tr>
            <tr class="hidden" id="genetic-parameter3">
                <td> Chance of mutation: </td>
                <td><input class="form-control" type="number" name="number_of_mutation" min="0.01" max="1" value="0.5" step="0.01" placeholder=""/></td>
            </tr>
            <tr>
                 <td><button id="generatePlanButton" class="btn background-second" type="submit" name="action" value="generate" disabled="true"> Generate </button></td>
            </tr>
        </table>
    </div>
</form>
<br/>
<!-- <h1> Improvements </h1>
<form action="{% url 'entities:improvement' %}" method="post">
    {% csrf_token %}
    <div class="table-responsive">
        <table>
            <tr>
                <td> How many tries: </td>
                <td><input class="form-control" type="number" name="number_of_generation" min="1" max="20000" value="100" placeholder=""/></td>
            </tr>
            <tr>
                <td><button class="btn background-second" type="submit" name="action" value="improve"> Improve </button></td>
            </tr>
        </table>
    </div>
</form> -->
<h1> New semester</h1>
<form action="{% url 'entities:new_semester' %}" method="post">
    {% csrf_token %}
    <div class="table-responsive">
        <table>
            <tr>
                <td><button class="btn background-second" type="submit" name="action" value="add_new_semestr"> Start new semester </button></td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}