{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block title %}
<title> Choose model to edit </title>
{% endblock %}
{% block content %}
<h1> Choose model to edit </h1>
<div class="container">
    <div class=""><h2> Users </h2></div>
    <a href="{% url 'entities:model_user' %}" class="btn background-second">Admin</a>
    <a href="{% url 'entities:model_student' %}" class="btn background-second">Student</a>
    <a href="{% url 'entities:model_teacher' %}" class="btn background-second">Teacher</a>
    <br/>
    <br/>
    <div class=""><h2> Models </h2></div>
    {% for key, value in urls.items %}
        {% with url_address="entities:"|add:value %}
            <a href="{% url url_address %}" class="btn background-second"> {{ key }} </a>
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}