{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block title %}
<title> Model: User-Teacher </title>
{% endblock %}
{% block content %}
<h1 class="text-center"> Teachers </h1>
    <p class="alert-success"> {{ s_message }} </p>
    <p class="alert-danger"> {{ fail_message }} </p>
<form action="{% url 'entities:model_teacher' %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <th> Choose </th>
            <th> Name </th>
            <th> Second name </th>
            <th> Surname</th>
            <th> Username </th>
            <th> Password </th>
            <th> Faculty </th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td> <input type="radio" name="user_id" value="{{ teacher.user.id }}" /></td>
            <td> {{ teacher.user.name }} </td>
            <td> {{ teacher.user.second_name }} </td>
            <td> {{ teacher.user.surname }} </td>
            <td> {{ teacher.user.username }} </td>
            <td> {{ teacher.user.password|truncatechars:15 }} </td>
            <td> {{ teacher.faculty.name }} </td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn background-second" type="submit" name="action" value="Delete"> Delete </button>
    <button class="btn background-second" type="submit" name="action" value="Edit"> Edit </button>
    <button class="btn background-second" type="submit" name="action" value="Change_password"> Change password </button>
    <button class="btn background-second" type="submit" name="action" value="Add_teacher"> Add teacher </button>
</form>
{% endblock %}