{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block title %}
<title> Edit {{ model }} </title>
{% endblock %}
{% block content %}
<h1> Admin </h1>
{% with url_address="entities:"|add:model %}
<form action="{% url url_address %}" method="post">
    {% csrf_token %}
    {% if user_to_edit %}
    <input type="text" name="user_id" value="{{ user_to_edit.id }}" hidden/>
    <p> {{ user_to_edit.name }}, {{ user_to_edit.surname }}</p>
    {% endif %}
    {% if student_to_edit %}
    <input type="text" name="user_id" value="{{ student_to_edit.user.id }}" hidden/>
    <p> {{ student_to_edit.user.name }}, {{ student_to_edit.user.surname }}</p>
    {% endif %}
    {% if teacher %}
    <input type="text" name="user_id" value="{{ teacher.user.id }}" hidden/>
    <p> {{ teacher.user.name }}, {{ teacher.user.surname }}</p>
    {% endif %}
    <div class="table-responsive">
            <table>
                <tr>
                    <td> Password </td>
                    <td><input class="form-control" type="password" name="new_password" value=""></td>
                </tr>
                <tr>
                    <td> Confirm password </td>
                    <td><input class="form-control" type="password" name="confirm_new_password" value=""></td>
                </tr>

            </table>
        </div>
    <button class="btn background-second" type="submit" name="action" value="Do_change_password"> Update </button>
</form>
{% endwith %}
{% endblock %}